@import "tailwindcss";

:root {
  --background: #f6fce3;
  --foreground-light: #ededed;
  --foreground-dark: #19191a;
  --primary: #674ce8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground-light: var(--foreground-light);
  --color-foreground-dark: var(--foreground-dark);
  --color-primary: var(--primary);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground-light: #121212;
    --foreground-dark: #e5e5e6;
    --primary: #9277ff;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--foreground);
}
